.success-overlay{
    position:fixed;
    inset:0;
    background:rgba(15,23,42,.55);
    backdrop-filter:blur(6px);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:99999;

    animation:fadeIn .25s ease;
}

.success-modal{

    width:430px;
    background:#fff;

    border-radius:22px;

    padding:40px;

    text-align:center;

    box-shadow:
    0 25px 60px rgba(0,0,0,.25);

    animation:popup .30s ease;
}

.success-icon{

    width:90px;
    height:90px;

    margin:auto;

    border-radius:50%;

    background:#22c55e;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size:48px;

    box-shadow:
    0 10px 30px rgba(34,197,94,.35);

    margin-bottom:25px;
}

.success-modal h2{

    font-size:34px;

    color:#111827;

    margin-bottom:12px;
}

.success-modal p{

    color:#6b7280;

    font-size:18px;

    line-height:28px;

    margin-bottom:35px;
}

.success-btn{

    width:170px;

    height:52px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.success-btn:hover{

    background:#1d4ed8;

    transform:translateY(-2px);
}

@keyframes popup{

    from{

        transform:scale(.8);

        opacity:0;
    }

    to{

        transform:scale(1);

        opacity:1;
    }
}

@keyframes fadeIn{

    from{

        opacity:0;
    }

    to{

        opacity:1;
    }
}