.modal-overlay{
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(15,23,42,.30);

    backdrop-filter: blur(3px);

    z-index: 9999;
}

.modal-card{
    width:430px;

    background:#fff;

    border-radius:18px;

    padding:30px;

    box-shadow:0 25px 60px rgba(15,23,42,.18);

    animation:popup .25s ease;
}

.modal-card h2{
    margin-bottom:22px;

    color:#1e293b;

    font-size:32px;
}

.modal-card label{
    display:block;

    margin-bottom:10px;

    font-weight:600;

    color:#475569;
}

.modal-card input{
    width:100%;

    padding:14px;

    border:1px solid #cbd5e1;

    border-radius:10px;

    font-size:15px;

    transition:.25s;

    outline:none;

    box-sizing:border-box;
}

.modal-card input:focus{
    border-color:#2563eb;

    box-shadow:0 0 0 3px rgba(37,99,235,.15);
}

.modal-actions{
    display:flex;
    justify-content:flex-end;
    gap:12px;

    margin-top:28px;
}

.cancel-btn{
    background:#e2e8f0;

    color:#334155;

    border:none;

    padding:12px 24px;

    border-radius:10px;

    cursor:pointer;

    font-weight:600;
}

.cancel-btn:hover{
    background:#cbd5e1;
}

.save-btn{
    background:linear-gradient(135deg,#2563eb,#1d4ed8);

    color:#fff;

    border:none;

    padding:12px 24px;

    border-radius:10px;

    cursor:pointer;

    font-weight:600;

    transition:.25s;
}

.save-btn:hover{
    transform:translateY(-2px);

    box-shadow:0 10px 22px rgba(37,99,235,.25);
}

@keyframes popup{
    from{
        transform:scale(.9);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }
}